*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar-brand{
    img{
        max-height: 50px;
        height: auto;
    } 
}

body{
    background-color: aqua;
}

/* Contenedor index */
.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items:center ;
  align-items: center;
}
.content{
  display: grid;
  grid-template-rows: repeat(2, 1fr); 
  grid-gap: 10px;
}

img{
  max-width: 100%;
  height: auto;
}

/* Aplicando fuente en contenedor */

#titulo_index{
  font-family: 'Raleway', sans-serif;
  font-size: 350%;
  font-weight: 800;
}
#parrafo_index{
  font-family: 'Quicksand',sans-serif;
  font-size: 103%;
  font-weight: 550;
}
#parrafo__secundario{
  font-family: 'Quicksand',sans-serif;
  font-size: 150%;
  font-weight: 600;
  color: rgb(0, 162, 255);
}




/* Animacion del carrusel */
 .carousel-item {
  transition: opacity 1s ease-in-out;
}
