*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar-brand{
    img{
        max-height: 50px;
        height: auto;
    } 
}

body{
    background-color: aqua;
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items:center ;
  align-items: center;
}
.content{
  display: grid;
  grid-template-rows: repeat(2, 1fr); 
  grid-gap: 10px;
}

img{
  max-width: 100%;
  height: auto;
}
    /* Carrusel */
    .carousel-inner {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 400px;
    }
    